<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Farmville</title>
  </head>
  <body>
    <h1>Farm Info</h1>
    <h2><%= farm.name%></h2>
    <ul>
      <li>Email: <%= farm.email%></li>
      <li>City: <%= farm.city %></li>
      <li>
        Products:
        <ul>
          <% for (let p of farm.products) {%>
          <li><a href="/products/<%=p._id%>"> <%= p.name %></a></li>
          <% } %>
        </ul>
      </li>
    </ul>
    <a href="/farms/<%= farm._id %>/products/new">Add new product for farm</a>
    <a href="/farms">Return to farms</a>
    <form action="/farms/<%=farm._id%>?_method=DELETE" method="post">
      <button>Delete Farm</button>
    </form>
  </body>
</html>
