
<%- include('../partials/head') %> 
<%- include('../partials/navbar') %>

<h2>Comment id : <%= comment.id%></h1>
<p><b>Author :</b> : <%= comment.username%></p>
<p><b>Text :</b> <%= comment.comment%></p>
<%- include('../partials/footer') %>